@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Red+Hat+Mono:ital,wght@0,300;1,600&display=swap");
$think-primary-color: lightblue;
$be-primary-color: darkblue;
$act-primary-color: lightgreen;
.card--container {
  border: 12px solid;
  padding: 20px 50px 50px 50px;
  max-width: 400px;
  min-height: 700px;
  position: relative;
  background-color: #fbfbfd;

  h1 {
    text-align: center;
    margin-bottom: 15px;
    font-family: "Indie Flower", cursive;
    min-height: 100px;
    // border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
  }
  p {
    text-align: justify;
    font-size: 18px;
    font-family: "Red Hat Mono", monospace;
    font-weight: 300;
  }
  button {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 10px 25px;
  }
}

.think {
  border-color: $think-primary-color;
  button {
    border-color: $think-primary-color;
  }
}
.act {
  border-color: $act-primary-color;
  button {
    border-color: $act-primary-color;
  }
}
.be {
  border-color: $be-primary-color;
  button {
    border-color: $be-primary-color;
  }
}
